pip~=20.3.1
wheel~=0.36.1
pylint~=2.6.0
flake8~=3.8.4
bandit~=1.6.3
mypy~=0.790
pytest~=6.2.1

pyodbc~=4.0.30
tqdm~=4.54.1
requests~=2.25.1
pandas~=1.2.0rc0
bs4~=0.0.1

python-dateutil~=2.8.1
typing~=3.7.4.3
py~=1.10.0
colorama~=0.4.4
beautifulsoup4~=4.9.3
soupsieve~=2.0.1
html5lib~=1.1
gitdb~=4.0.5
pbr~=5.5.1
setuptools~=49.2.1
six~=1.15.0
virtualenv~=20.2.1
retry~=0.9.2
attrs~=20.3.0
pytz~=2020.4
toml~=0.10.2
PyYAML~=5.3.1
smmap~=3.0.4
isort~=5.6.4
numpy~=1.19.4
decorator~=4.4.2
stevedore~=3.3.0
pyflakes~=2.2.0
astroid~=2.4.2
mccabe~=0.6.1
pluggy~=0.13.1
iniconfig~=1.1.1
atomicwrites~=1.4.0
wrapt~=1.12.1
certifi~=2020.11.8
chardet~=3.0.4
urllib3~=1.26.2
webencodings~=0.5.1
idna~=2.10
pyparsing~=2.4.7
mechanize~=0.4.5

git+git://github.com/city-of-baltimore/Ridesystems#egg=ridesystems
